extend layout

block content
  .container
    .inner-container
      .content-container
        h1 General Goods
        p A pod of microness.
        .messages
          for user in users
            article.article
              ul.links
                a(class='image', href='/#{user.username}')
                  img(src='#{user.avatar}')
